.button {
    background: #1B263B;
    color: #FFF;
    border-radius: 4px;
    height: 45px;
    cursor: pointer;
    transition: .2s;
    margin: 10px 0;
    width: 300px;
    align-self: center;
    text-align: center;
    border: 0;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, .5);
    &:hover {
        background: #2D3F62;
    }
    @media(max-width: 400px) {
        width: 150px;
    }
}

.table-button {
    background: #800F2F;
    color: #FFF;
    border-radius: 4px;
    height: 45px;
    cursor: pointer;
    transition: .2s;
    margin: 10px 0;
    width: 100%;
    align-self: center;
    text-align: center;
    border: 0;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, .5);
    &:hover {
        background: #A4133C;
    }
}