.container {
    width: 100%;
    height: 100%;
    background: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview-box {
    width: 70vw;
    height: 70vh;
    border-radius: 8px;
    background: 	#D3D3D3;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, .5);
    padding: 10px;
}
.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-row {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid blue;
}
.header-container {
   width: 100%;
   display: flex;
   justify-content: space-between; 
   align-items: center;
   @media(max-width: 800px) {
    flex-direction: column;
   }
}
.header-half-container {
    width: 50%;
    display: flex;
    align-items: center;
    @media(max-width: 800px) {
        width: 100%;
        justify-content: center;
    }
}