.input {
    display: flex;
    flex-direction: column;
}

.input-field {
    display: flex;
    gap: 10px;
    > label {
        font-size: 1.6rem;
        line-height: 135%;
        font-weight: 500;
        width: 30%;
    }
    > input {
        width: 70%;
        border-radius: 4px;
        border: 0;
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, .5);
    }
}
.error {
    color: red;
    margin-top: 10px;
}