.table-container {
    max-height: 40vh;
    overflow-y: scroll;
    border-radius: 4px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, .5);
    margin-bottom: 10px;
    > table {
        width: 100%;
    }
}
.header-cell {
    font-size: 1.3rem;
    line-height: 135%;
}
.body-cell {
    font-size: 1.1rem;
    line-height: 135%;
}